
.h_tonglan {width:950px;background:#FFFFFF;padding:14px 10px;margin:0 auto;}
.h_tonglan dl dt {float:right;width:500px;text-align:right;line-height:25px;min-height:25px;color:#6A6A6A;}
.h_tonglan ul {overflow:hidden;}
.h190px {overflow:hidden;margin-left:10px;margin-right:10px;padding-bottom:3px;padding-top:14px;}
/*.h190px img {width:938px;border:0px;}*/

.h218px {width:953px;height:320px;padding-top:14px;box-sizing:border-box;margin:0 auto;}
/*.h218px td {overflow:hidden;}*/
#scrollbox  {width:940px;overflow:hidden;}
#scrollbox ul{width:1880px;display:flex;}
#scrollbox ul li{flex-shrink:0;width:233px;vertical-align:top;font-size:12px;line-height:18px;min-height:18px;text-align:center;overflow:hidden;border: 1px solid #ededed;}
#scrollbox ul li img{ width:233px;height:250px;border:0px;margin-right: 10px;}
.pointer {cursor: pointer}

 * {padding:0px;margin:0px;}
html {overflow-y:scroll;}
div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
ol,ul {list-style:none;}
address,cite,code,em,th,i {font-weight:normal;font-style:normal;}
.fB{font-weight:bold;}
.fred {color:#ff0000;}
.f12px{font-size:12px;}
.f14px{font-size:14px;}
.f14pxbai{font-size:14px;color:#ffffff; font-weight:bold;}
.f16px{font-size:16px;}
.f18px{font-size:18px;}
.f22px{font-size:22px;color:#FFFFFF;}
.center {margin:0px auto;}
.left{float:left;}
.right{float:right;}
.rejm {width:60px;height:20px;border:#7E9DB9 1px solid;line-height:20px;}
